env/**
env
data
joern/output
dataset/*
workspace/*
*.zip
*.gz
csv2
*.csv
__pycache__
**/__pycache__/**
*.txt
*.jsonl
*.ipynb
pycocoevalcap/**
.vscode/**

split_data.py
test.py
*.ipynb

baseline/commit-autosuggestions-master/experiment/test/**
baseline/commit-autosuggestions-master/tests/**
